* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth ;
}

/*The head of the web */
li, a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 23px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px 2%;
    background-color: black;
}
.logo {
    margin-left: 5px;
}
.nav__links li{
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
    color: white;
}

.nav__links li a:hover{
    padding: 5px 10px 10px 10px;
    color: beige;
    background-color: cadetblue;
    border-radius: 10%;
}